<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Wtf</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="card">
			<style>
  				{
				  border: 5px solid black 
				}
				</style>
  			{{ content }}

			</div>

			<footer>
	    		<ul>
	        		<li><a href="mailto:d.grasso@ymail.com">email</a></li>
	        		<li><a href="https://github.com/danielegrasso">github.com/danielegrasso</a></li>
				</ul>
			</footer>
		</body>
	</html>
